*{
    font-family: Poppins, sans-serif, Montserrat, Verdana, Sao Francisco;
    background-color: hsl(180, 75%, 95%);
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
form{
    background-color: hsl(180, 75%, 100%);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 60vh;
    width: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}
h1{
    color:  hsl(180, 75%, 70%);
    background-color: white;
    text-shadow: 5px 5px 10px hsl(180, 87%, 85%);
    font-size: 25px;
}
ins{
    color: hsl(180, 75%, 70%);
}
#textBox{
    padding: 10px;
    border: 2px solid hsl(180, 75%, 70%);
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    color: hsl(180, 75%, 70%);
    font-weight: 500;
    font-style: italic;
    margin-bottom: -5px;
    margin-top: 20px;
}
#textBox:focus{
    padding: 10px;
    outline: 2px solid hsl(180, 75%, 70%);
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    color: hsl(180, 75%, 70%);
    font-weight: 500;
    font-style: italic;
    margin-bottom: -5px;
    margin-top: 20px;
}
#toFahrenheit, #toCelsius{
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: hsl(180, 75%, 70%);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: white;
    gap: 50px;
}

input[type="radio"]:checked, label {
    accent-color: hsl(180, 75%, 50%);
    color: hsl(180, 75%, 50%);
    accent-color: hsl(180, 75%, 50%);
    display: inline-block;
    background-color: white;
    border: none;
    cursor: pointer;
} 

label{
    background-color: white;
    color: hsl(0, 0%, 0%);
    font-weight: 500;
}
div{
    gap: 15px;
    display: flex;
    padding-left: 20px;
    background-color: white;
}
#convertButton{
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: hsl(180, 75%, 70%);
    color: rgb(255, 255, 255);
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: 700;

}
#convertButton:hover{
    background-color: #E9FCFC;
    color: hsl(180, 75%, 50%);
    border: solid 2px hsl(180, 75%, 50%);
    border-radius: 5px;
}
#result{
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
    color: hsl(180, 75%, 50%);
    background-color: white;
}
#container{
    height: 72vh;
    width: 60vh;
    position: absolute;
    transition: all 0.3s ease;
    border-radius: 15px;
    background-color:  hsl(180, 75%, 70%);
}
@media (max-width: 600px){
    form{
        width: 90vw;
        height: auto;
        padding: 20px;
    }
    #container{
        width: 90vw;
        height: auto;
        padding-bottom: 20px;
        transform: scale(0.8,0.8);
    }
    #result{
        margin-bottom: 40px;
    }


}

